#horizontal2{
  position: absolute;
  top: 1780px;
}
#right3{
  
  bottom: -1151px;
  right: 29px;
}

#left3{
  bottom: -1151px;
  left: 29px;
}



#projectmecon{
  display: flex;
  position: relative;
  width:1259px;
  height: 173px;
   border-bottom: solid  rgba(50, 50, 50, 1) 1px;
  position: relative;
  left: 44px;
  top: -435px;
}

#projectmetitlecon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: linear-gradient(rgba(42, 42, 42, 1),rgba(16, 16, 16, 1));
  left: 1px;
  top:-1px;
  width:599px;
  height: 174px;

}

#projectmetitle{
  font-size: 48px;
  font-family:'Mechsuit';
 
}

#middleparagraph {
  width: 359px;
  height: 69px;
  position: absolute;
  left: 664px;
  top: 40px;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 400px;
  font-size: 16px;
}
#projectmelogocon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-style: solid;
  border-color:  rgba(50, 50, 50, 1);
  border-width: 0px 0px 0px 1px;
  width:176px;
  height: 171px;
  top: 1px;
  left:1084px;
  
}


#projectmelogo{
 position: absolute;
  width: 120px;
  height: 130px;
}


#projectmelogocon #cornerdesign{
position: absolute;
top: 140px;
left: 10px;

}

#projectmelogocon #cornerdesign #horizontal{
transform: rotate(90deg) translate(-15px,-16px);
}

#projectmelogocon #cornerdesign #vertical{
  transform: translate(10px,-9px);
}










.slider-wrapper {
  position: relative;
  width: 100%;
  height: auto; 
  margin: auto;
  top: 280px;

}

/* TOP AREA */
.slider-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
  
  display: flex;
    gap: 30px;     
  transition: transform 0.5s ease;
}

.slide {
  position:relative;
 min-width: 50%;   
  min-height: 100%;  


  /* temp visuals */
  background: rgba(16, 16, 16, 1);
  border: solid grey 1px;
  color: white;
  font-size: 32px;


  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  


  
  clip-path: polygon(
   0% 0%,
   calc(100% - 60px) 0%,
   100% 60px,
   100% 100%,
   0% 100%
  );
 
}



.slidecon{
  position: relative;
   min-width: 50%;   
  height: 500px;
  overflow: hidden;
  border: solid grey 1px;
  font-family: 'Chakra Petch';
}

.filler{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 5px;
  right: 5px;
  
background:rgba(217, 217, 217, 1)
}

.slider-viewport .top-right-fill1 {
    position: absolute;
    top: 0px;
    right: -40px;
    width: 100px;
    height: 100px;
    background:grey;
    clip-path: polygon(100% 0, 100% 100%, 0 0); 
}


.nav {
  cursor: pointer;
}

/* OPTIONAL middle indicator (like your screenshot) */
.progress {
  display: flex;
  position: absolute;
  left:600px;
  gap: 8px;
}

.progress span {
  width: 8px;
  height: 4px;
  background: #555;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.progress span.active {
  width: 20px;          /* bigger size for active */
  height: 6px;
  background: linear-gradient(to left, #FFFF00, #ADFF2F, #00FFFF, #FF00FF);
  animation: huechange 1s alternate infinite;
}

.slide #longerthinnerhoriline13{
  position:absolute;
  background-color: rgba(50, 50, 50, 1);
  bottom: 50px;
  left: 120px;
  height: 1px;
  width: 250px;
  z-index: 90;

}

 .slide #diagonaldesign1{
  display: flex;
  position: absolute;
  bottom: -2px;
  left: 33px;
  gap:5px;
  width:100px;
  height: 53px;
}
 .slide .diagonal{
  background-color: rgb(250, 248, 248);
  width: 8px;
  height: 2px;
  transform: rotate(45.6deg);
 
}

.slide #rightnavcon{
 font-size: 15px;
 position: absolute;
 bottom: 25px;
 right: 20px;
}

.linedesign{
  
  position: absolute;
  background-color: rgba(79, 79, 79, 1);
  width: 100%;
  height: 24px;

 


}

.horilinedesign{
  
  position: absolute;
  background-color: rgba(79, 79, 79, 1);
  width: 1900px;
  height: 24px;
  z-index: -1;
  transform: rotate(90deg);
}

#horiline1{
  top: 960px;
  left: -800px;

}

#horiline2{
  top: 960px;
  left: -500px;

}

#horiline3{
  top: 960px;
  left: 200px;

}

#horiline4{
  top: 960px;
  left: -150px;

}




#line1{
 top: 100px ;
}

#line2{
 top: 300px ;
}

#line3{
 top: 690px ;
}

#line4{
 top: 900px ;
}

#line5{
 top: 1280px ;
}

#line6{
 top: 1500px ;
}

#line7{
 top: 1875px ;
}

#line8{
 top: 2100px ;
}
#leftprogressstyle{
  position: relative;
}
#leftprogressstyle #longerthinnerhoriline32{
  position:absolute;
  background-color: rgba(79, 79, 79, 1);
  bottom:-2px;
  left: -200px;
  height: 1px;
  width: 250px;
  

}

#leftprogressstyle #diagonaldesign1{
  display: flex;
  position: absolute;
  bottom: -50;
  left: -300px;
  gap:5px;
  width:100px;
  height: 53px;

}
#leftprogressstyle .diagonal{
  background-color: rgb(250, 248, 248);
  width: 8px;
  height: 2px;
  transform: rotate(45.6deg);
 
}

#rightprogressstyle #longerthinnerhoriline32{
    position:absolute;
  background-color: rgba(79, 79, 79, 1);
  bottom:45px;
  right: 250px;
  height: 1px;
  width: 250px;

}

#rightprogressstyle #diagonaldesign1{
  display: flex;
  position: absolute;
  bottom: -5px;
  right: 120px;
  gap:5px;
  width:100px;
  height: 53px;

}
#rightprogressstyle .diagonal{
  background-color: rgb(250, 248, 248);
  width: 8px;
  height: 2px;
  transform: rotate(-45.6deg);
 
}

/* BOTTOM CONTROLS */
.slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 100px;
  color: white;
}

#nextbtn{
  position: relative;
  border: none; 
  color: white;
 background-color: black;
  width: 80px;
 text-align: left;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#nextpost{
 position: absolute;
  top: 9px; 

}
#arrow{
 position: relative;
  top: 0px;
  height: 10px;
}

.linearrow{
  position: absolute;
  background-color: rgb(250, 250, 250);
  height: 1px;
  width: 15px;
  
  
}

#topnext{
  transform: rotateZ(-45deg);
  top: 10px;
  right: 0px;
}

#bottomnext{
  transform: rotateZ(45deg);
  right: 0cqmin;
}

#nextbtn:hover #nextpost {
  background-image: linear-gradient(
    to left,
    #FFFF00,
    #ADFF2F,
    #00FFFF,
    #FF00FF
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: huechange 1s linear infinite;
}


 #nextbtn:hover .linearrow{
    background: linear-gradient(to left, #FFFF00, #ADFF2F, #00FFFF, #FF00FF);
  animation: huechange 1s alternate infinite;
 } 


 #topprev{
  transform: rotateZ(45deg);
  top: 10px;
  left: 0px;
}

#bottomprev{
  transform: rotateZ(-45deg);
  left: 0px;
}

#prevbtn{
  position: relative;
  border: none; 
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 1px;
  width: 70px;
 text-align: left;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#prevpost{
 position: absolute;
  top: 9px; 
  right:5px;
}

#prevbtn:hover #prevpost {
  background-image: linear-gradient(
    to left,
    #FFFF00,
    #ADFF2F,
    #00FFFF,
    #FF00FF
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: huechange 1s linear infinite;
}


 #prevbtn:hover .linearrow{
    background: linear-gradient(to left, #FFFF00, #ADFF2F, #00FFFF, #FF00FF);
  animation: huechange 1s alternate infinite;
 } 

 .slide #cornerdesignTOPLEFT{
  position: absolute;
  top:30px;
  left: 50px;


 }


 #projectname{
  position: absolute;
  top:0px;
  left: 40px;
  font-size: 20px;
  

 }

#projectdate{
    position: absolute;
  top:0px;
  right: 60px;
  font-size: 20px;
}
 

 .slide #cornerdesignBOTTOMRIGHT{
  position: absolute;
  bottom: 150px;
  right: 40px;
 }


 #indicateproject{
  position: absolute;
  top: 25%;

 }
#projectdescript{
  font-size: 16px;
  position: absolute;
  bottom: 90px;
  left: 45px;
}

.wrapper {
 position: relative;
 top: -60px;
  border-radius: 26px;
  width:500px;
  height: 250px;

   filter: blur(2px);

}


#project1{
  background: linear-gradient(
  45deg,
  rgba(255, 187, 0, 0.9) 0%,
  rgba(255, 208, 0, 0.4) 12%,
  rgba(0, 0, 0, 0.4)25%,
  rgba(0, 0, 0, 0.4) 80%,
  rgba(255, 208, 0, 0.4) 90%,
  rgba(255, 230, 0, 0.9) 100%
);
}
#project2{
  background: linear-gradient(
  45deg,
  rgba(255, 0, 0, 0.9) 0%,
  rgba(255, 0, 0, 0.4) 12%,
  rgba(0, 0, 0, 0.4)25%,
  rgba(0, 0, 0, 0.4) 80%,
  rgba(255, 0, 0, 0.4) 90%,
  rgba(255, 0, 0, 0.9) 100%
);
}


#project3{
  background: linear-gradient(
  45deg,
  rgba(0, 102, 255, 0.9) 0%,
  rgba(0, 102, 255, 0.4) 12%,
  rgba(0, 0, 0, 0.4)25%,
  rgba(0, 0, 0, 0.4) 80%,
  rgba(0, 102, 255, 0.4) 90%,
  rgba(0, 102, 255, 0.9) 100%
);
}

#project4{
  background: linear-gradient(
  45deg,
  rgb(72, 255, 0) 0%,
  rgba(51, 255, 0, 0.4) 12%,
  rgba(0, 0, 0, 0.4)25%,
  rgba(0, 0, 0, 0.4) 80%,
  rgba(51, 255, 0, 0.4) 90%,
  rgb(60, 255, 0) 100%
);
}


#project5{
  background: linear-gradient(
  45deg,
  rgb(0, 255, 179) 0%,
  rgba(0, 225, 255, 0.4) 12%,
  rgba(0, 0, 0, 0.4)25%,
  rgba(0, 0, 0, 0.4) 80%,
  rgba(0, 247, 255, 0.4) 90%,
  rgb(0, 247, 255) 100%
);
}